.project-detail {
  padding: 0 10%;
}
.detail-table {
  width: 100%;
}
.action-items {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.comments {
  padding: 20px;
}
.comment {
  padding: 5px;
  background-color: #f6f6f6;
  margin: 5px 0;
  text-indent: 10px;
}
