<div class="project-detail" *ngIf="projectList.length > 0">
  <div class="action-items">
    <button mat-button (click)="delete()">
      <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
    </button>
  </div>
  <div>
    <div class="container detail-table">
      <div class="row detail-table-header">
        <div class="col-2">&nbsp;</div>
        <div class="col-1" *ngFor="let phase of dataSource.phases">
          <div>{{ phase }}</div>
          <button mat-icon-button class="delete" (click)="deletePhase(phase)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div class="col">
          <button mat-icon-button (click)="addPhase()">
            <mat-icon>add_box</mat-icon>
          </button>
        </div>
      </div>
      <ng-container *ngFor="let milestone of dataSource.milestones; let index = index;">
        <div class="row">
            <app-project-milestone [phases]="dataSource.phases" [milestone]="milestone" [index]="index"></app-project-milestone>
        </div>
          
      </ng-container>
      <div class="row add-milstone shadow-sm">
        <div class="col-12">
            <button mat-raised-button title="Add Milestone" color="primary" class="w100" (click)="addMilstone()">
                <mat-icon aria-hidden="false" aria-label="Add Milestone"
                  >add_box</mat-icon
                >
              </button>
        </div>
      </div>
    </div>
    


    <app-issue-tracker></app-issue-tracker>
  </div>
</div>
