<div class="project-detail">
  <div class="action-items">
    <button mat-button (click)="delete()">
        <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
    </button>
    <button mat-button (click)="openCommentDialog()">
        <mat-icon aria-hidden="false" aria-label="comment">comment</mat-icon>
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 detail-table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="planned">
        <th mat-header-cell *matHeaderCellDef> Planned </th>
        <td mat-cell *matCellDef="let element"> 
            <app-cell-editor [dateRange]="element.planned"></app-cell-editor> </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef> Actual </th>
        <td mat-cell *matCellDef="let element"> 
            <app-cell-editor [dateRange]="element.actual"></app-cell-editor>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="comments" *ngIf="comments.length > 0">  
    <h3>Comments</h3>
    <div *ngFor="let comment of comments" class="comment"> {{comment}}</div>
  </div>
</div>