.navbar {
  background-color: #d6d6d6;
}
.mat-list-item .mat-button {
  width: 100%;
  text-align: left;
}
.title {
  flex: 1;
}
.mat-dialog-actions {
  justify-content: flex-end;
}
.mat-form-field {
width: 100%;
}
